.env
/vendor


# dependencies
/front/node_modules
/.pnp
.pnp.js

# testing
/front/coverage

# next.js
/front/.next/
/front/out/

# production
/front/build

# misc
.DS_Store
*.pem

# debug
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

# local env files
/front/.env*.local

# vercel
/front/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
